/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.m-4 {
  margin: 1rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.ml--2 {
  margin-left: -0.5rem;
}